

<div class="row mt-4">
    <div class="col-md-4 mb-4" *ngFor="let card of postArray">
        <div class="card">
          <div class="card-header bg bg-dark text-white ">
            {{card.title}}
          </div>
          <div class="card-body bg alert-danger">
            {{card.body}}
          </div>
          <div class="card-footer d-flex justify-content-between">
            <button class="btn btn-info">Edit</button>
            <button class="btn btn-danger">Delete</button>
          </div>
        </div>
    </div>
    
</div>
